<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="principal.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/Logo_umss.png" alt="Logo Universidad">
        </div>
        <div class="menu-icon" onclick="">
            ☰
        </div>
    </header>
    <div class="encabezado" >
        <h1 class="main-title">Encuentra aulas disponibles</h1>
        <h1 class="second-title">busca por:</h1>
    </div>
    

    <section class="cards-container">
        <div class="card">
            <h2>Fecha x Horario</h2>
            <hr>
            <p>Ingresa la fecha y el horario y obtendras aulas disponibles</p>
            <button onclick="cardAction()">Buscar</button>
        </div>
        <div class="card">
            <h2>Aula x Fecha</h2>
            <hr>
            <p>Ingresa el Aula y la fecha que desees verificar y obtendras horarios disponibles</p>
            <button onclick="cardAction()">Buscar</button>
        </div>
        
        <div class="card">
            <h2>Aula x Horario</h2>
            <hr>
            <p>Ingresa el aula en especifico y el horario para verificar y obtendras las fechas disponibles</p>
            <button onclick="cardAction()">Buscar</button>    
        </div>
        
    </section>
    <div class="linea-horizontal"></div>
 
    <section class="cards-container">
        <div class="card pee">
            <h2>Mis reservas</h2>
            <hr>
            <p>Observa las reservas que hiciste de todas tus materias</p>
            <button onclick="cardAction()">Ver</button>
        </div>
    </section>
    <div id="form-encimado" class="mostrar ocultar">
        <div class="form-card">
            <h2>Buscar por Fecha y Horario</h2>
            <form action="aulasDisponibles.html" class="busqueda-form">
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" required>
    
                <label for="hora">Hora inicio:</label>
                <input type="time" id="hora" required>

                <label for="hora">Hora fin:</label>
                <input type="time" id="hora" required>
    
                <!-- <label for="aula">Aula:</label>
                <select id="aula" required>
                    <option value="101">Aula 695</option>
                    <option value="102">Aula 515</option>
                </select>
    
                <label for="materia">Materia:</label>
                <select id="materia" required>
                    <option value="progra">Elementos de Programacion</option>
                    <option value="progWeb">Programacion Web</option>
                </select> -->
    
                <input type="submit" value="Buscar Aulas">
            </form>
            
        </div>
    </div>



    <script src="scripts.js"></script>

</body>
</html>
