<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Registro de Aulas</title>
</head>
<body>
    <div class="headerRegistro">
        <h2>Registrar Aula</h2>
    </div>


    <div class="container">
        <h2>Aula indivial</h2>
        <form action="/registrar_aula" method="POST" >
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="3" required></textarea>
            
            
            <div class="cap-activo">
                <label for="capacidad">Capacidad:</label>
                <input type="number" id="capacidad" name="capacidad" min="1" required>
            
                <label for="activo">Activo:</label>
                <input type="checkbox" id="activo" name="activo">
            </div>
            
            
            <input type="submit" value="Registrar">
        </form>
        
    </div>
    <div class="container">
    
        <!-- Sección para carga de lote -->
        <div class="batch-upload-section">
            <h2>Registro por Lote</h2>
            <p></p>
            <form action="/registrar_aulas_por_lote" method="POST" enctype="multipart/form-data">
                <input type="file" id="csvFile" name="csvFile" accept=".csv" required>
                <input type="submit" value="Cargar CSV">
            </form>
        </div>
    </div>
    <a href="/ver_aulas" class="view-btn">Ver Aulas Registradas</a>
    <!-- Modal de mensaje -->


    
</body>
</html>
