<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Ver Aulas Registradas</title>
</head>
<body>
    <h2>Aulas Registradas</h2>
    <div class="container">
        <div class="filter-container">
            <h3>Filtros</h3>
        
            <!-- Capacidad -->
            <div class="filter-item capacity-filter">
                <span class="filter-label">Capacidad:</span>
                <div class="capacity-inputs">
                    <label for="filter-capacity-min">Min:</label>
                    <input type="number" id="filter-capacity-min" min="1" placeholder="0">
                    <label for="filter-capacity-max">Max:</label>
                    <input type="number" id="filter-capacity-max" min="1" placeholder="999">
                </div>
            </div>
        
            <!-- Estado -->
            <div class="filter-item">
                <label for="filter-status">Estado:</label>
                <select id="filter-status">
                    <option value="all">Todos</option>
                    <option value="active">Activo</option>
                    <option value="inactive">Inactivo</option>
                </select>
            </div>
        
            <!-- Fecha de agregación -->
            <div class="filter-item">
                <label for="filter-date">Fecha:</label>
                <input type="date" id="filter-date">
            </div>
        
            <div class="filter-item">
                <button id="apply-filters">Aplicar Filtros</button>
            </div>
        </div>
    </div>   
        
        
        <div class="scrollable-table">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Capacidad</th>
                        <th>Activo</th>
                        <th>Fecha Registro</th>
                    </tr>
                </thead>
                <tbody id="aulas-list">
                    <!-- Las aulas se mostrarán aquí -->
                </tbody>
            </table>
        </div>
        
        <a href="/registro_aulas" class="back-btn">Volver</a>
    
    
    
</body>
<script src="/js/main.js"></script>

</html>
