<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Responsivo</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <img src="images/308bfbb3e189787ab8e77905a189617f.png" alt="Descripción de la imagen">
    <div class="login-container">
        <img src="images/umss.png" alt="Descripción de la imagen">
        <h2>Iniciar Sesión</h2>
        <form action="principal.html">
            <input type="text" placeholder="Usuario" required>
            <input type="password" placeholder="Contraseña" required>
            <button type="submit">Entrar</button>
        </form>
    </div>

    
</body>
</html>
