:root {
    --primary-color: #007BFF;
    --hover-color: #0056b3;
    --text-color: #fff;
    --input-bg: #ccc;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* Altura mínima para ocupar toda la ventana */
}

.container {
    width: 80%;  /* Ocupa el 80% del ancho de la ventana */
    max-width: 500px; 
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin: 2% 5%;  /* Margen alrededor del contenedor */
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
        margin: 10px;  /* Margen reducido para pantallas pequeñas */
    }
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--input-bg);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--hover-color);
}

.view-btn, .back-btn {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.view-btn:hover, .back-btn:hover {
    background-color: var(--hover-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section label, 
.filter-section input, 
.filter-section button {
    margin-right: 10px;
    vertical-align: middle;
}
